input[type=email] ,input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(189, 222, 239);
    box-sizing: border-box;
    background-color: white;
  }

  .cart{
    background-color:#E2D1F9;
     width: 50%;
      margin: 5px;
      padding:10px;
    }
   
    
