<nav class="navbar navbar-expand-lm navbar-dark" style="background-color: #317773; padding: 18px;">
    <ul class = "navbar-nav"   >
        <li class = "nav-item" >
            <a routerLink="employees" routerLinkActive="active" class="nav-link" style="color: white;">Employee List</a>
        </li>
        <!-- <li class = "nav-item">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link" >Add Employee</a>
        </li> 
       <li class = "nav-item">
            <a routerLink="login" routerLinkActive="active" class="nav-link" >Login</a>
        </li>

        <li class = "nav-item">
            <a routerLink="register" routerLinkActive="active" class="nav-link" >Register</a>
        </li> -->
    </ul>
  </nav>