
<hr/>
<h1 class="text-center"><strong> View Employee Details</strong></h1>
<hr/>
<div class="justify-content-center" >
  <!-- <div>
    <label> <b> Employee Id: </b></label> {{employee.empId}}
</div> -->
<div aria-colspan="align-items-center">
    <div>
        <label> <b> First Name: </b></label> {{employee.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{employee.lastName}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{employee.emailAdd}}
    </div>
    <div>
      <label> <b> Phone Number </b></label> {{employee.phoneNo}}
  </div>
  <div>
    <label> <b> Address: </b></label> {{employee.address}}
</div>
<div>
  <label> <b> Status: </b></label> {{employee.status}}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

</div>
</div>
</div>


